[Unit]
Description=LXQt Panel
Documentation=https://github.com/lxqt/lxqt-panel
StartLimitBurst=3
StartLimitIntervalSec=60s
After=graphical-session.target
ConditionEnvironment=LXQT_SESSION_MANAGER=uwsm

[Service]
Type=exec
ExecStart=/usr/bin/lxqt-panel
Restart=on-failure
Slice=session.slice
TimeoutStopSec=40s

[Install]
WantedBy=graphical-session.target
