[Unit]
Description=LXQt Global Keyboard Shortcuts
Documentation=https://github.com/lxqt/lxqt-globalkeys
After=graphical-session.target
ConditionEnvironment=LXQT_SESSION_MANAGER=uwsm

[Service]
Type=exec
ExecStart=/usr/bin/lxqt-globalkeysd
Restart=on-failure
Slice=session.slice
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
