[Unit]
Description=LXQt Runner
Documentation=https://github.com/lxqt/lxqt-runner
After=graphical-session.target
ConditionEnvironment=LXQT_SESSION_MANAGER=uwsm

[Service]
Type=exec
ExecStart=/usr/bin/lxqt-runner
Restart=on-failure
Slice=background-graphical.slice
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
