[Unit]
Description=LXQt Desktop
Documentation=https://github.com/lxqt/pcmanfm-qt
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/usr/lib/systemd/systemd-xdg-autostart-condition "LXQt" ""
ExecStart=/usr/bin/pcmanfm-qt --desktop --profile=lxqt
Restart=on-failure
Slice=session.slice
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
