[Unit]
Description=LXQt Global Keyboard Shortcuts
Documentation=https://github.com/lxqt/lxqt-globalkeys
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/usr/lib/systemd/systemd-xdg-autostart-condition "LXQt" ""
ExecStart=/usr/bin/lxqt-globalkeysd
Restart=on-failure
Slice=session.slice
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
