[Unit]
Description=LXQt PolicyKit Handler
Documentation=https://github.com/lxqt/lxqt-policykit
After=graphical-session.target
ConditionEnvironment=LXQT_SESSION_MANAGER=uwsm

[Service]
Type=exec
ExecStart=/usr/libexec/lxqt-policykit-agent
Restart=on-failure
Slice=background-graphical.slice
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
